.contenedor {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
}

.loading{
  position: absolute;
  margin-top: 20%;
  margin-left: 50%;
}