@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.datos {
  margin-left: 20px;
  font-family: "Abel", sans-serif;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

.typeTitle {
  position: absolute;
  margin-top: 5px;
  z-index: 10;
}
.type {
  position: absolute;
}
.topBug {
  background-image: var(--bug);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.topPoison {
  background-image: var(--poison);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.topGround {
  background-image: var(--ground);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.topNormal {
  background-image: var(--normal);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topDark {
  background-image: var(--dark);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topElectric {
  background-image: var(--electric);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.topFairy {
  background-image: var(--fairy);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.topFighting {
  background-image: var(--fighting);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.topFire {
  background-image: var(--fire);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topWater {
  background-image: var(--water);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topGrass {
  background-image: var(--grass);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topIce {
  background-image: var(--ice);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topDragon {
  background-image: var(--dragon);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topSteel {
  background-image: var(--steel);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topGhost {
  background-image: var(--ghost);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topRock {
  background-image: var(--rock);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.topFlying {
  background-image: var(--flying);
  height: 50px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

:root {
  --bug: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(110, 173, 10), rgb(180, 248, 39));
  --dark: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(151, 151, 151));
  --dragon: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(14, 0, 155), rgb(124, 13, 255));
  --electric: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(255, 206, 0, 0.43) 61px,
      rgba(255, 206, 0, 0.43) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(255, 253, 69), rgb(255, 248, 0));
  --fairy: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(255, 96, 242), rgb(248, 13, 255));
  --fighting: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(177, 86, 0), rgb(142, 72, 0));
  --fire: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(222, 8, 8), rgb(248, 152, 39));
  --flying: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgba(72, 0, 177, 0.68), rgba(32, 0, 142, 0.63));
  --ghost: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(49, 1, 122), rgb(32, 0, 142));
  --grass: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(21, 145, 22), rgb(39, 248, 84));
  --ground: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(255, 238, 190), rgb(249, 209, 118));
  --ice: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(118, 230, 255), rgb(29, 137, 255));
  --normal: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 219, 149));
  --poison: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(201, 0, 206), rgb(92, 0, 120));
  --psychic: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(255, 107, 146), rgb(255, 0, 0));
  --rock: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(255, 211, 88), rgb(132, 101, 32));
  --steel: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(181, 181, 181), rgb(255, 255, 255));
  --water: repeating-linear-gradient(
      45deg,
      rgba(208, 208, 208, 0.13) 0px,
      rgba(208, 208, 208, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 43px,
      rgba(195, 195, 195, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 85px,
      rgba(41, 41, 41, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 109px,
      rgba(88, 88, 88, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 129px,
      rgba(24, 24, 24, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 139px,
      rgba(92, 92, 92, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 179px,
      rgba(37, 37, 37, 0.13) 219px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.13) 0px,
      rgba(18, 18, 18, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 13px,
      rgba(48, 48, 48, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 61px,
      rgba(130, 130, 130, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 84px,
      rgba(233, 233, 233, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 109px,
      rgba(8, 8, 8, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 143px,
      rgba(248, 248, 248, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 173px,
      rgba(37, 37, 37, 0.13) 188px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(3, 3, 3, 0.1) 0px,
      rgba(3, 3, 3, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 134px,
      rgba(82, 82, 82, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 282px,
      rgba(220, 220, 220, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 389px,
      rgba(173, 173, 173, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 458px,
      rgba(109, 109, 109, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 516px,
      rgba(240, 240, 240, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 656px,
      rgba(205, 205, 205, 0.1) 722px
    ),
    linear-gradient(90deg, rgb(0, 76, 255), rgb(93, 209, 255));
}

.container {
  margin-top: 3rem;
  margin-left: 25%;
  height: 25rem;
  width: 50%;
  background-color: rgb(235, 235, 235);
  border-radius: 2rem;
  transition: 400ms;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}
.img {
  position: absolute;
  margin-left: 70%;
  margin-top: 5%;
  transition: 400ms;
}

.carta:hover {
  /* transform: rotate(15deg) translateX(200px); */
  transform: scale(1.2) rotate(2deg);
  /* transform: rotateY(10deg); */
  /* transform: perspective(800px);
  transform-style: preserve-3d; */
  transition: 400ms;
}
.carta:hover img {
  transform: scale(1.2) rotate(2deg);
  transition: 600ms;
}

.carta:hover .datos {
  transform: scale(1.05) rotate(-2deg);
  transition: 600ms;
}

.link {
  text-decoration: none;
  color: rgba(3, 3, 3, 1);
}

.imgStill {
  position: absolute;
  margin-left: 70%;
  margin-top: 5%;
  transition: 400ms;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

.imgMovement {
  position: absolute;
  margin-left: 70%;
  margin-top: 5%;
  transition: 400ms;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));

  animation: shake-baidu 2s ease 0s infinite;
  animation-play-state: running;
}
.imgMovement:hover {
  animation-play-state: running;
}
@keyframes shake-baidu {
  from {
    transform: rotate(0deg);
  }
  4% {
    transform: rotate(5deg);
  }
  12.5% {
    transform: rotate(-5deg);
  }
  21% {
    transform: rotate(5deg);
  }
  29% {
    transform: rotate(-5deg);
  }
  37.5% {
    transform: rotate(5deg);
  }
  46% {
    transform: rotate(-5deg);
  }
  50%,
  to {
    transform: rotate(0deg);
  }
}

.loading {
  margin-top: 15%;
  margin-left: 50%;
}

.stats {
    margin-top: -2rem;
  font-size: 1.5rem;
  display: flex;
  width: 20rem;
  justify-content: space-evenly;
  margin-left: 7%;
}


.title {
    margin-left: 10%;
  font-size: 4rem;
}



.types {
    margin-top: -2.5rem;
    margin-left: 10%;
  font-size: 2rem;
}
